@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

/* @font-face {
    font-family: 'Kaushan';
    src: url(../fonts/Kaushan/KaushanScript-Regular.ttf);
    font-weight: normal;
    font-style: italic;
} */

@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoItalic';
    src: url(../fonts/Roboto/Roboto-LightItalic.ttf);
    font-weight: 300;
    font-style: italic;
}

@media (prefers-reduced-motion: no-preference) {
    :root {
        scroll-behavior: 400;
    }
}
@font-face {
    font-family: 'CoquetteC';
    src: url(../fonts/all/CoquetteC.ttf);
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

*::selection {
    background-color: #fce38a;
    color: #333;
}

html,
body {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    margin: 0;
    font-weight: 400;
    background-color: #1b1b1b;
    color: #c3c3c3;
    /* scroll-behavior: smooth; */
}

a {
    text-decoration: none;
    display: inline-block;
}

ul,
li {
    list-style: none;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

/* HEADER===================================================== */
header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    width: 100%;
    background-color: rgba(15, 15, 15, 0.6);
    color: #fff;
    -webkit-transition: background-color 500ms linear;
    -moz-transition: background-color 500ms linear;
    -ms-transition: background-color 500ms linear;
    -o-transition: background-color 500ms linear;
    transition: background-color 500ms linear;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    position: relative;
    display: flex;

}

.header__logo a {
    font-family: 'CoquetteC';
    position: relative;
    color: #fff;
    font-size: 28px;
    font-weight: 500;
    /* margin-left: 10px; */
    /* top: 12px; */
}

#logo-word1 {
    position: relative;
    top: -18px;
    padding-right: 20px;
}

#logo-word2 {
    position: relative;
    top: -18px;
    left: -10px;
}

.logo__img {
    width: 50px;
    height: 50px;
}

.logo__title {
    position: relative;
    margin-left: 10px;
    color: rgba(220, 220, 220, 0.638);
}

.logo__title::before {
    content: "";
    position: absolute;
    left: -7px;
    top: 0;
    height: 20px;
    width: 1px;
    background-color: rgba(220, 220, 220, 0.638);
}

.header__links {
    text-transform: uppercase;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 14px;
}

.header__link {
    color: #fff;
    position: relative;
    margin: 0 15px;
    line-height: 46px;
    padding-bottom: 3px;
}

.header__link::before {
    opacity: 0;
    position: absolute;
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background-color: #2f0996;
    transition: opacity .5s linear;
    top: 0;
    left: 0;
}

.header__link:hover::before,
.header__link:focus::before {
    opacity: 1;
}

/* FULLSCREEN========================================== */
.fullscreen {
    min-height: 100vh;
    display: flex;
    position: relative;
    flex-direction: column;
}

.video__bg {
    position: absolute;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.container__fullscreen {
    position: relative;
    z-index: 2;
    background-color: rgba(246, 231, 15, 0.01);
    flex: 1 1 auto;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
    width: 100%;
    padding: 0 20px;
}

.fullscreen__title {
    position: relative;
    color: #dcc412;
    letter-spacing: 4px;
    font-size: 50px;
    margin-bottom: 50px;
    font-family: 'Montserrat';
    font-weight: 700;
}

.fullscreen__title::before {
    position: absolute;
    content: "";
    width: 15px;
    height: 3px;
    background-color: #dcc412;
    left: -17px;
    top: 50%;
}

.fullscreen__text {
    font-family: 'Montserrat';
    font-weight: 700;
    color: #fff;
    letter-spacing: 2px;
    font-size: 25px;
    margin: 0 0 80px 30px;
    position: relative;
}

.fullscreen__text::before {
    position: absolute;
    content: "";
    width: 40px;
    height: 3px;
    background-color: #fff;
    left: -45px;
    top: 50%;
}

#fscreen-text {
    font-size: 35px;
    line-height: 35px;
    background-image: linear-gradient(90deg, #ffae23, #bb13ee, #de1b1b, #e17735);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* color: #cc3333; */
    position: absolute;
    left: 70px;
    top: 50px;
}

#fscreen-text::before {
    position: absolute;
    content: "";
    width: 110px;
    height: 3px;
    background: linear-gradient(90deg, #ffae23, #bb13ee, #de1b1b, #e17735);
    left: -115px;
    top: 55%;
}

.fullscreen__text-inner {
    /* background-image: url(../img/fscreen-text-bg.png); */
    background-repeat: no-repeat;
    background-size: cover;

    position: relative;
    bottom: 0;
    left: 0;
}

.text-bg {
    position: relative;
    left: -20px;
    bottom: -170px;
    max-width: 400px;
    width: 100%;
    height: 100%;
    max-height: 400px;
    opacity: .4;
}

/* SECTION ==================================== */

.section {
    padding: 80px 0;
}
#section-counter {
    padding: 120px 0 80px 0;
}

.section__header {
    text-align: center;
    margin: 0 auto;
    width: 100%;
    max-width: 950px;
}
.footer .section__header {
    text-align: left;
    margin: 0;
    padding-top: 50px;
    width: 100%;
}

.section__title {
    font-size: 36px;
    font-family: 'CoquetteC';
    font-weight: 700;
    margin-bottom: 25px;
    letter-spacing: 2px;
    color: #fff;
    padding-top: 10px;
}

.section__title-crazy {
    color: #7dbeb2;
}
.section__title-hot {
    color: #f38181;
}
.section__title-gallery {
    color: #dcc412;
}
.section__title-recall {
    color: #66cc33;
}
.section__subtitle {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    position: relative;
}

.section__text {
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 24px;
    font-size: 18px;
}
/* DEVIDDER=============================== */

.devider {
    margin: 30px 0;
    font-family: 'FontAwesome';
    position: relative;
}

.devider i {
    color: #cccccc;
}
.footer .devider:after {
    display: none;
}
.footer .devider::before {
    left: 20px;
    width: 630px;
}
.devider:before,
.devider:after {
    position: absolute;
    content: "";
    display: block;
    border: none;
    width: 250px;
    height: 2px;
    background-color: #e6e8ea;
    bottom: 6px;
}
.devider:before {
    left: 210px;
}
.devider:after {
    right: 210px;
}
.devider-hot.devider:before,
.devider-hot.devider:after {
    background-color: #f38181;
}
.devider-crazy.devider:before,
.devider-crazy.devider:after {
    background-color: #7dbeb2;
}
.devider-gallery.devider:before,
.devider-gallery.devider:after {
    background-color: #dcc412;
}
.devider-recall.devider:before,
.devider-recall.devider:after {
    background-color: #66cc33;
}

/* HOT OFFER======================================= */

.hot__offer {
    margin-top: 90px;
    display: flex;
    justify-content: space-between;
}

.hot__offer-item {
    margin-right: 40px;

}

.hot__offer-inner {
    background-color: #f38181;
    border-radius: 10px;
}

.hot__offer-item:last-child {
    margin-right: 0;
}

.hot__offer-item img {
    width: 355px;
    cursor: pointer;
    object-fit: cover;
    border-radius: 10px;
    opacity: 1;
    transition: opacity .2s linear;
}

.hot__offer-img {
    background: linear-gradient(to bottom, #7dbeb2, #cccc66);
    position: relative;
    max-height: 236px;
    z-index: 5;
    border-radius: 10px;


}



.hot__offer-body {
    background-color: #333333;
    min-height: 500px;
    transition: all .2s linear;
    position: relative;
    border-radius: 10px;
}

.hot__offer-title {
    font-family: 'Montserrat';
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    padding: 10px 10px;
    line-height: 24px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.hot__offer-text {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: italic;
    font-size: 16px;
    padding: 10px 10px;
    line-height: 24px;
    text-align: center;
}

.hot__offer-item:hover .hot__offer-body {
    transform: translate3d(-13px, -13px, 0);
}

.hot__offer-body img:hover {
    opacity: .4;
}



/* CRAZY PLACES==================================== */
.crazy__places {
    padding-top: 20px;
    display: grid;
    grid-template-columns: 700px auto;
}


/* SLIDER__PHOTO */
.slider__photo {
    position: relative;
    min-width: 0;
    cursor: hand;
    z-index: 10;
}

.slick-list {
    overflow: hidden;
}

.slick-track {
    display: flex;
}
.slider__recall .slick-track {
    cursor: grab;
}
.slider__photo-item img {
    border: 10px solid #7dbeb2;
    border-top-left-radius: 60px;
    border-bottom-right-radius: 60px;
    max-height: 400px;
    height: 100%;
}

.slider__photo .slick-arrow {
    font-family: 'FontAwesome';
    position: absolute;
    bottom: -40px;
    font-size: 24px;
    right: 70px;
    color: #fff;
    background-color: transparent;
    padding: 3px;
    border: 3px solid #fff;
    cursor: pointer;
}

.slider__photo .slick-prev {
    right: 110px;
}

/* SLIDER__TEXT */

.slider__text {
    position: relative;
    min-width: 0;
    top: 30%;
    z-index: 10;
}

.slider__text-title {
    padding-left: 50px;
    position: relative;
    font-family: 'Montserrat';
    font-weight: 600;
    color: #fff;
    font-size: 24px;
    margin-bottom: 15px;
    text-transform: uppercase;
    line-height: 28px;
}

.slider__text-title::before {
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background-color: #7dbeb2;
    border: none;
    position: absolute;
    left: 0;
    top: 15px;
}

/* COUNTER========================== */

article {
    background: #ffe206;
    padding: 50px;
    color: #3d3d3d;
}

.bl {
    position: relative;
    color: #3d3d3d;
    width: 150px;
    margin: 0 15px;
    background: #ffec5c;
    padding: 50px 10px;
    border-radius: 20px;
    display: grid;
}
.bl::before {
    font-family: 'FontAwesome';
    content: "\f0a4";
    position: absolute;
    font-size: 32px;
    right: 0;
    bottom: 0;
    transform: rotate(-100deg);
}
.bl:first-child,
.bl:last-child,
.bl:first-child::before,
.bl:last-child::before {
    content: "";
    cursor: auto;
}


.mid {
    width: 1000px;
    margin: 0 auto;
}

.number {
    font-size: 2em;
    padding: 0 0 25px;
    font-weight: bold;
    opacity: 0;
    text-align: center;
}

.viz {
    opacity: 1;
    transition: 1s;
}

#counter {
    display: flex;
    justify-content: space-between;
}
.text {
    line-height: 22px;
    text-align: center;
    font-size: 18px;
}
.counter__title {
    font-family: 'CoquetteC';
    font-weight: 600;
    font-size: 42px;    
    text-align: center;
    margin-bottom: 40px;
    position: relative;
}
.counter__title::after {
    position: absolute;
    content:"\f05a";
    font-size: 24px;
    font-family: 'FontAwesome';
    right: 305px;
    top: -5px;
    font-weight: normal;
}
.clearfix:before,
.clearfix:after {
    content: "";

    display: table;

}

.clearfix:after {
    clear: both;
}
/* GALLERY ======================================== */

.box__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.box__item img {
    border: none;
    max-width: 280px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.box__menu {
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.box__menu ul li {
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 10px;
    cursor: pointer;
    margin: 34px 4px;
    background: #cc9900;
    font-size: 14px;
    padding: 5px 15px;
    display: inline-block;
    color: #fff;
}
.box__menu ul li.mixitup-control-active {
    background: #000;
}

/* RECALL ===============================================*/


.slider__recall {
    margin-top: 80px;
}

.slider__recall-img {
    max-width: 135px;
    border: 5px solid #009900;
    border-radius: 50%;
}
.slider__recall-item{
    display: flex;
    justify-content: center;
}

.slider__recall-item-content {
    width: 600px;
    padding: 15px;
    letter-spacing: 1px;
}
.slider__recall-item-title {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #fff;
    margin-bottom: 15px;
}
.first__letter {
    font-size: 28px;
    color: #009900;
    font-family: 'Montserrat';
    font-weight: 500;
}
.slider__recall-item-text {
    line-height: 20px;
}

.slider__recall .slick-dots {
    display: flex;
    justify-content: center;
    list-style: none;
}
.slider__recall .slick-dots button{
    cursor: pointer;
    font-size: 0;
    margin: 0 10px;
    background-color: transparent;
    border: 1px solid #fff;
    transition: all .2s linear;
    width: 10px;
    height: 11px;
    border-radius: 50%;
}
.slider__recall .slick-dots li.slick-active button {
    background-color: #fff;
}
/* FOOTER =============================================================== */


footer {
    position: relative;
    height: 100%;
    background-color: #343434;
}
.footer__bottom {
    background-color: #111;
    text-align: center;
    padding: 5px 0;
}
.form__inner {
    display: flex;
    justify-content: space-between;
    font-family: 'Montserrat';
}

.form__content {
    max-width: 650px;
    width: 100%;
    margin-bottom: 30px;
}
.form__box-inner {
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.form__box-left {
    max-width: 200px;
    width: 100%;
    color: #fff;
}

.form__box-right {
    max-width: 555px;
    width: 100%;
    color: #fff;
    margin-left: 50px;
}

.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea {
    display: block;
    width: 100%;
    color: #fff;
}

.form__box-inner label {
    line-height: 36px;
    font-size: 14px;
}

.form__box-inner input {
    margin-bottom: 8px;
    outline: none;
    height: 40px;
    border: 1px solid #e6e6e6;
    padding: 0px 10px;
    color: #000;
    border-radius: 10px;
}
.form__box-inner textarea {
    font-size: 14px;
    color: #000;
    outline: none;
    border: 1px solid #e6e6e6;
    padding: 10px;
    height: 208px;
    resize: none;
    border-radius: 10px;
}


.form__btn {
    font-family: 'Montserrat';
    position: relative;
    float: right;
    cursor: pointer;
    top: 15px;
    background-color: transparent;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 15px;
    border-radius: 10px;
}
/* ======================================= */

.footer__contacts {
    max-width: 400px;
    width: 100%;
}
.footer__list{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 210px;
    padding-top: 40px;
}

.footer li>a {
    color: #fff
}

/* MODAL =========================================== */

/* #modal {
    display: none;
    width: 300px;
    
} */


.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.535);
    top: 0;
    left: 0;
    z-index: 200;
    opacity: 0;
    visibility: hidden;
}
.popup:target {
    opacity: 1;
    visibility: visible;
}
.popup__body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup__content {
    position: relative;
    background-color: #fff;
    color: #000;
    max-width: 400px;
    min-height: 210px;
    padding: 30px;
    height: 100%;
}
.popup__title {
    font-size: 24px;
    margin-bottom: 30px;
}
.popup__close {
    position: absolute;
    right: 10px;
    top: 5px;
    font-size: 18px;
}
.close__btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    background-color: #b85e5e;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 15px;
    font-size: 18px;
}
/* SCROLLBAR ======================================== */


::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(58, 58, 58, 0.514)
}
::-webkit-scrollbar-thumb {
    background: #2f0996;
    border-radius: 10px;
}

.div__overflow {
    overflow: hidden;
}